#
# The MIT License
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#

version: 2.1

commands:
  influxdb-onboarding:
    steps:
      - run:
          name: "Post onBoarding request to InfluxDB 2"
          command: ./scripts/influxdb-onboarding.sh
  enable-ipv6:
    steps:
      - run:
          name: ipv6-enable
          command: |
             cat <<'EOF' | sudo tee /etc/docker/daemon.json
             {
               "ipv6": true,
               "fixed-cidr-v6": "2001:db8:1::/64"
             }
             EOF
             sudo service docker restart
  prepare:
    description: "Prepare environment to tests"
    steps:
      - checkout
      - enable-ipv6
      - influxdb-onboarding
  client-test:
    description: "Run tests"
    parameters:
      maven-image:
        type: string
      junit-tests:
        type: string
    steps:
      - restore_cache:
          name: Restoring Maven Cache
          keys:
            - &cache-key maven-cache_v3-<< parameters.maven-image >>-{{ checksum "pom.xml" }}-{{ checksum "client-core/pom.xml" }}-{{ checksum "client/pom.xml" }}-{{ checksum "client-kotlin/pom.xml" }}-{{ checksum "client-legacy/pom.xml" }}-{{ checksum "client-reactive/pom.xml" }}-{{ checksum "client-scala/cross/2.12/pom.xml" }}-{{ checksum "client-scala/cross/2.13/pom.xml" }}-{{ checksum "client-osgi/pom.xml" }}-{{ checksum "client-test/pom.xml" }}-{{ checksum "spring/pom.xml" }}-{{ checksum "flux-dsl/pom.xml" }}-{{ checksum "karaf/pom.xml" }}-{{ checksum "karaf/karaf-assembly/pom.xml" }}-{{ checksum "karaf/karaf-features/pom.xml" }}-{{ checksum "karaf/karaf-kar/pom.xml" }}
            - maven-cache_v3-<< parameters.maven-image >>-
      - run:
          name: "Running tests"
          command: |
            mvn -B -U clean install -Dbuild.env=CI << parameters.junit-tests >>
      - save_cache:
          name: Saving Maven Cache
          key: *cache-key
          paths:
            - ~/.m2
  storing-test-results:
    steps:
      - run:
          name: "Copying test results"
          when: always
          command: |
            mkdir test-results
            mkdir test-results/client-core
            cp -r client-core/target/*/TEST-*.xml test-results/client-core || true
            mkdir test-results/client
            cp -r client/target/*/TEST-*.xml test-results/client || true
            mkdir test-results/client-legacy
            cp -r client-legacy/target/*/TEST-*.xml test-results/client-legacy || true
            mkdir test-results/client-reactive
            cp -r client-reactive/target/*/TEST-*.xml test-results/client-reactive || true
            mkdir test-results/client-kotlin
            cp -r client-kotlin/target/*/TEST-*.xml test-results/client-kotlin || true
            mkdir test-results/client-scala_2.12
            cp -r  client-scala/cross/2.12/target/*/TEST-*.xml test-results/client-scala_2.12 || true
            mkdir test-results/client-scala_2.13
            cp -r  client-scala/cross/2.13/target/*/TEST-*.xml test-results/client-scala_2.13 || true
            mkdir test-results/client-osgi
            cp -r client-osgi/target/*/TEST-*.xml test-results/client-osgi || true
            mkdir test-results/spring
            cp -r spring/target/*/TEST-*.xml test-results/spring || true
            mkdir test-results/flux-dsl
            cp -r flux-dsl/target/*/TEST-*.xml test-results/flux-dsl || true
      - store_test_results:
          path: test-results
  storing-artifacts:
    steps:
      - run:
          name: "Copying artifacts"
          command: |
            mkdir artifacts
            cp -r client-core/target/*.jar artifacts/
            cp -r client/target/*.jar artifacts/
            cp -r client-legacy/target/*.jar artifacts/
            cp -r client-reactive/target/*.jar artifacts/
            cp -r client-kotlin/target/*.jar artifacts/
            cp -r client-scala/cross/2.12/target/*.jar artifacts/
            cp -r client-scala/cross/2.13/target/*.jar artifacts/
            cp -r client-osgi/target/*.jar artifacts/
            cp -r spring/target/*.jar artifacts/
            cp -r flux-dsl/target/*.jar artifacts/
      - store_artifacts:
          path: artifacts

jobs:

  tests-java:
    parameters:
      maven-image:
        type: string
        default: &default-maven-image "cimg/openjdk:17.0"
      influxdb-image:
        type: string
        default: &default-influxdb-image "influxdb:latest"
      junit-tests:
        type: string
        default: ""
    docker:
      - image: << parameters.maven-image >>
      - image: &influx-image << parameters.influxdb-image >>
        environment:
          INFLUXD_HTTP_BIND_ADDRESS: :9999
      - image: &influx-image << parameters.influxdb-image >>
        name: influxdb_v2_onboarding
        environment:
          INFLUXD_HTTP_BIND_ADDRESS: :9999
      - image: influxdb:1.8
        environment:
          INFLUXDB_HTTP_FLUX_ENABLED: true
    environment:
      INFLUXDB_2_ONBOARDING_IP: influxdb_v2_onboarding
      INFLUXDB_2_ONBOARDING_PORT: 9999
    resource_class: large
    steps:
      - prepare
      - client-test:
          maven-image: << parameters.maven-image >>
          junit-tests: << parameters.junit-tests>>
      - storing-test-results
      - storing-artifacts
      - run:
          name: Collecting coverage reports
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
            curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
            curl -s https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import
            gpgv codecov.SHA256SUM.sig codecov.SHA256SUM
            shasum -a 256 -c codecov.SHA256SUM
            chmod +x ./codecov
            ./codecov

  check-dependencies:
    parameters:
      maven-image:
        type: string
        default: *default-maven-image
    docker:
      - image: << parameters.maven-image >>
    steps:
      - checkout
      - restore_cache:
          name: Restoring Maven Cache
          keys:
            - maven-cache_v3-<< parameters.maven-image >>-
      - run:
          name: "Check dependency rules"
          command: mvn enforcer:enforce -Drules=banDuplicatePomDependencyVersions,dependencyConvergence

  check-licenses:
    parameters:
      maven-image:
        type: string
        default: *default-maven-image
    docker:
      - image: << parameters.maven-image >>
    steps:
      - checkout
      - restore_cache:
          name: Restoring Maven Cache
          keys:
            - maven-cache_v3-<< parameters.maven-image >>-
      - run:
          name: "Check dependency licenses"
          command: mvn license:check -Dlicense.dependencies.enforce=true

  check-generate-site:
    parameters:
      maven-image:
        type: string
        default: *default-maven-image
    docker:
      - image: << parameters.maven-image >>
    steps:
      - checkout
      - restore_cache:
          name: Restoring Maven Cache
          keys:
            - maven-cache_v3-<< parameters.maven-image >>-
      - run:
          name: "Check generate site"
          command: mvn clean install site site:stage -DskipTests

  deploy-snapshot:
    docker:
      - image: *default-maven-image
    steps:
      - run:
          name: Early return if this build is from a forked repository
          command: |
            if [[ $CIRCLE_PROJECT_USERNAME != "influxdata" ]]; then
              echo "Nothing to do for forked repositories, so marking this step successful"
              circleci step halt
            fi
      - checkout
      - run:
          name: Early return if this build is not a Snapshot version
          command: |
            sudo apt-get update
            sudo apt-get install libxml2-utils
            export PROJECT_VERSION=$(xmllint --xpath "//*[local-name()='project']/*[local-name()='version']/text()" pom.xml)
            echo "Project version: $PROJECT_VERSION"
            if [[ $PROJECT_VERSION != *SNAPSHOT ]]; then
              echo "Nothing to do for this build, so marking this step successful"
              circleci step halt
            fi
      - restore_cache:
          name: Restoring Maven Cache
          keys:
            - &cache-key-deploy maven-cache-deploy_v2-{{ checksum "pom.xml" }}-{{ checksum "client-core/pom.xml" }}-{{ checksum "client/pom.xml" }}-{{ checksum "client-kotlin/pom.xml" }}-{{ checksum "client-legacy/pom.xml" }}-{{ checksum "client-reactive/pom.xml" }}-{{ checksum "client-scala/cross/2.12/pom.xml" }}-{{ checksum "client-scala/cross/2.13/pom.xml" }}-{{ checksum "client-osgi/pom.xml" }}-{{ checksum "client-test/pom.xml" }}-{{ checksum "spring/pom.xml" }}-{{ checksum "flux-dsl/pom.xml" }}-{{ checksum "karaf/pom.xml" }}-{{ checksum "karaf/karaf-assembly/pom.xml" }}-{{ checksum "karaf/karaf-features/pom.xml" }}-{{ checksum "karaf/karaf-kar/pom.xml" }}
            - maven-cache-deploy_v2-
      - run:
          name: Deploying Snapshot
          command: |
            mvn -s scripts/deploy-settings.xml -DskipTests=true clean deploy
      - save_cache:
          name: Saving Maven Cache
          key: *cache-key-deploy
          paths:
            - ~/.m2

workflows:
  version: 2
  build:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - check-dependencies
      - check-generate-site
      - check-licenses
      - tests-java:
          name: jdk-17
          maven-image: "cimg/openjdk:17.0"
      - tests-java:
          name: jdk-20
          maven-image: "cimg/openjdk:20.0"
      - tests-java:
          name: jdk-21
          maven-image: "cimg/openjdk:21.0"
      - tests-java:
          name: jdk-17-nightly
          influxdb-image: "quay.io/influxdb/influxdb:nightly"
      - tests-java:
          name: client-backpressure
          junit-tests: "-DclientBackpressure=true -Dit.test=com.influxdb.client.ITBackpressure -Dsurefire.failIfNoSpecifiedTests=false -Dit.failIfNoSpecifiedTests=false -Dtest=ignore -DwildcardSuites=ignore"
      - tests-java:
          name: client-benchmark
          junit-tests: "-DclientBenchmark=true -Dit.test=com.influxdb.client.ITBenchmarkTest -Dsurefire.failIfNoSpecifiedTests=false -Dit.failIfNoSpecifiedTests=false -Dtest=ignore -DwildcardSuites=ignore"
      - deploy-snapshot:
          requires:
            - check-dependencies
            - check-generate-site
            - check-licenses
            - jdk-17
            - jdk-20
            - jdk-21
            - jdk-17-nightly
          filters:
            branches:
              only: master

  nightly:
    when:
      equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - tests-java:
          name: jdk-8
      - tests-java:
          name: client-backpressure
          junit-tests: "-DclientBackpressure=true -Dit.test=com.influxdb.client.ITBackpressure -Dsurefire.failIfNoSpecifiedTests=false -Dit.failIfNoSpecifiedTests=false -Dtest=ignore -DwildcardSuites=ignore"
